name: CMake Build Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Release

jobs:
  build:

    steps:
    - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    # - name: Test
    #   working-directory: ${{github.workspace}}/build
    #   run: ctest -C ${{env.BUILD_TYPE}}
      
 
# # first test
# name: Shell Commands

# on: [push]
 
# jobs:
#   run-shell-commmand:
#     runs-on: ubuntu-latest
#     steps:
#       - name: echo a string
#         run: echo "Hello World"
#       - name: multiline script
#         run: | 
#           node -v
#           npm -v